/* --- EXAMPLES --- */
span.example-title {
    text-transform: none;
}
div.illegal-example { color: red }
div.illegal-example p { color: black }
aside.example div.example {
    border-left-width: .1em;
    border-color: #999;
    background: #fff;
}
aside.example div.example span.example-title {
    color: #999;
}
